@charset "UTF-8";
/* RESET */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, font, img, ins, kbd, q, samp, small, strong, sub, sup, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, header, nav, article, aside, footer, hgroup, section {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	text-decoration: none;
}
:focus, :active { outline: 0 }

ol, ul { list-style: none }

blockquote:before, blockquote:after { content: "" }
blockquote { quotes: "" "" }

header, nav, article, aside, footer, hgroup, section { display: block }

/* Clearfix */
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
* html .clearfix             { zoom: 1 } /* IE6 */
*:first-child+html .clearfix { zoom: 1 } /* IE7 */


/* TYPOGRAPHY */
html {
	background-color: #F2F2F2;
	background-image: -moz-linear-gradient(top, #E6E6E6 0%, #F2F2F2 100%);
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #E6E6E6),color-stop(1, #F2F2F2));
	background-repeat: no-repeat;
}
body {
	width: 100%;
	margin: 0 auto;
	color: #333;
	font: 12px/18px Corbel, Arial, Helvetica, sans-serif;
	text-align: justify;
}

p { margin-bottom: 18px }

strong { font-weight: bold }
em { font-style: italic }

a { color: #017A4E }
a:hover { color: #000000 }
a:active { color: #017A4E }

h1 { font: 24px/36px "Trebuchet MS", Arial, Helvetica, sans-serif }

.newLine { display: block }


/* HEADER */
header {
	background-color: #1C1C1C;
}
hgroup { margin: 0; }
hgroup a#logo {
	width: 770px;
	margin: 3em;
	font: 40px/54px 'Myriad Pro', 'Myriad', helvetica, arial, sans-serif;
	font-weight: bold;
	color: #FFFFFF;
    letter-spacing: -2px;
	text-shadow: 2px 3px 3px #424242;
}
hgroup a:hover#logo {
	border: none;
}
hgroup #searchbar {
	float: right;
	padding-top: 15px;
	width: 360px;
	color: #FFFFFF;
	font: 15px 'Myriad Pro', 'Myriad', helvetica, arial, sans-serif;
}
hgroup #searchbar p {
	padding-top: 15px;
	float: left;
	font: 15px 'Myriad Pro', 'Myriad', helvetica, arial, sans-serif;
	color: #FFFFFF;
}
hgroup #searchbar a:hover {
	border: none;
}
hgroup h1 {
	font: 40px/54px 'Myriad Pro', 'Myriad', helvetica, arial, sans-serif;
	font-weight: bold;
	color: #FFFFFF;
	text-shadow: 4px 4px 0 #2E2E2E, 0 0 10px rgba(255,255,255,0.4);
}
hgroup h1 a:hover { border: none }
hgroup h2 {
	font: 14px/20px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	color: #eee;
}

/* Navigation */
nav#global {
	margin: 0 0 30px;
	width: 100%;
	background-color: #424242;
	background-image: -moz-linear-gradient(top, #585858, #424242);
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #585858),color-stop(1, #424242));
	box-shadow: inset 0 0 15px #424242, 0 0 20px #424242, inset 0 35px 35px -18px #424242;
	-moz-box-shadow: inset 0 0 15px #424242, 0 0 2px #424242;
	-webkit-box-shadow: 0 0 2px #424242;
}

nav#global ul {
	text-align: center;
	height: 40px;
	margin: 0 105px 0;
	display: table;
}

nav#global p {
	float: right;
	top:  -30px;
	color: #FFFFFF;
	-webkit-transform: translate(-20px, -30px);
	-moz-transform: translate(-20px, -30px);
	width: 360px;
	text-align: center;
}

nav#global p a {
	color: #FFFFFF;
	text-decoration: underline;
}

nav#global p a:hover {
	color: #000;
	text-decoration: underline;
}

nav#global ul li { position: relative; display: inline }
nav#global ul li a {
	font-size: 14px;
	display: block;
	float: left;
	line-height: 40px;
	padding: 0 15px;
	color: #fff;
}
nav#global ul li a:hover {
	border: none;
	box-shadow: inset 0 0 15px #424242, inset 0 -35px 35px -18px #424242;
	-moz-box-shadow: inset 0 0 10px #424242;
	background-image: -moz-linear-gradient(bottom, #424242, #1C1C1C);
	background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, #424242),color-stop(1, #1C1C1C));
}

nav#global ul li #subMenu {
	position: absolute;
	top: 30px;
	left: -387px;
	-moz-transform: translate(165px, 10px);
	-webkit-transform: translate(232px, 0);
	background: #424242;
	height: 0;
	z-index: -1;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	box-shadow: 0 0 10px #444, inset 0 0 10px #424242, inset 0 35px 35px -18px #1C1C1C;
	-moz-box-shadow: 0 0 10px #444, inset 0 0 10px #424242;
	-webkit-box-shadow: 0 0 10px #444;
	background-image: -moz-linear-gradient(top, #1C1C1C, #424242);
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #1C1C1C),color-stop(1, #424242));
}
nav#global ul li #subMenu li {
	display: block;
	text-align: center;
	margin: 0 auto;
}
nav#global ul li #subMenu li a {
	height: 0;
	line-height: 0;
	width: 150px;
}
#subMenu li:first-child a {
	border-top-left-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-webkit-border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	-moz-border-radius-topright: 10px;
	-webkit-border-top-right-radius: 10px;
}
#subMenu li:last-child a {
	border-bottom-left-radius: 10px;
	-moz-border-radius-bottomleft: 10px;
	-webkit-border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	-moz-border-radius-bottomright: 10px;
	-webkit-border-bottom-right-radius: 10px;
}

#services a {
	transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	-webkit-transition: all 0.3s linear;
}
#services:hover > #subMenu { z-index: 2 }
#services:hover > #subMenu li a { height: 40px; line-height: 40px }


/* MAIN */
#wrapper {
	width: 1200px;
	margin: 0 auto;
}

#content {
	width: 770px;
	margin-right: 20px;
	float: left;
}
article {
	background: #FFFFFF;
	margin: 0 0 30px 0;
	padding: 20px 40px 30px 40px;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	box-shadow: 0 0 2px #BDBDBD;
	-moz-box-shadow: 0 0 2px #BDBDBD;
	-webkit-box-shadow: 0 0 3px #BDBDBD;
}

article header {
	background: #FFFFFF;
	height: 40px;
}

article header h1 { 
	line-height: 40px;
	font-style: italic;
}

article header h1 a {
	color: #645000;
}

.articleinfo {
	font-size: 14px;
	margin-bottom: 10px;
}

.time {
	float: left;
	text-align: right;
	width: 50px;
	height: 40px;
	font-size: 24px;
	margin-right: 12px;
	padding-right: 10px;
	background-color: #195875;
	background-color: rgba(126, 0, 0, 0.2);
	border-right: 1px solid #600;
	border-right-color: #024a62;
	border-right-color: rgba(0, 72, 96, 0.9);
	border-top-left-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-webkit-border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	-moz-border-radius-bottomleft: 10px;
	-webkit-border-bottom-left-radius: 10px;
	box-shadow: inset 1px 0 15px rgba(0, 72, 96, 0.9);
	-moz-box-shadow: inset 1px 0 15px rgba(0, 72, 96, 0.9);
}
.year {
	font-size: 15px;
	text-align: center;
	width: 40px;
	line-height: 16px;
	margin: 12px 0 0 -7px;
	display: block;
	transform: rotate(270deg);
	-o-transform: rotate(270deg);
	-moz-transform: rotate(270deg);
	-webkit-transform: rotate(270deg);
}
.date {
	font-size: 18px;
	height: 24px;
	text-align: center;
	float: right;
	margin: -25px 0 0 -10px;
}
.date span {
	display: block;
	font-size: 12px;
	height: 16px;
}

article header h1 { float: left }
.comments {
	font-size: 16px;
	font-weight: bold;
	float: right;
	line-height: 40px;
	width: 60px;
	height: 40px;
	text-align: center;
	background-color: #970000;
	background-color: rgba(151, 0, 0, 0.4);
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	box-shadow: inset 0 0 10px rgba(50, 50, 50, 0.5);
	-moz-box-shadow: inset 0 0 10px rgba(50, 50, 50, 0.5);
}

h4 {
color: red;
font-size: 23px;
}

footer p { margin: 0 }
.tags {
	-o-transition: all 0.9s ease-in-out;
	-moz-transition: all 0.9s ease-in-out;
	-webkit-transition: all 0.9s ease-in-out;
	padding: 0 3px;
	margin-right: 3px;
	font-variant: small-caps;
	font-size: 14px;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}
.tags:hover {
	background-color: #940033;
	color: #ddd;
	border: none;
}
.button {
	display: block;
	float: right;
	color: #fff;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	padding: 0 10px 0 35px;
	height: 34px;
	line-height: 34px;
	margin-top: -32px;
	position: relative;
	background-color: #970000;
	box-shadow: inset 0 35px 35px -18px #ca0000, inset 3px 0 12px #600;
	background-image: -moz-linear-gradient(top, #ca0000, #970000);
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #ca0000),color-stop(1, #970000));
	-o-transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease-out;
	-webkit-transition: all 0.5s ease-out;
}
.button:before {
	content: "";
	background-color: #ebe8d9;
	position: absolute;
	top: 0;
	left: -10px;
	height: 34px;
	width: 30px;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}
.button:hover {
	border: none;
	box-shadow: inset 0 -35px 35px -18px #ca0000, inset 3px 0 12px #600;
	background-image: -moz-linear-gradient(top, #970000, #ca0000);
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #970000),color-stop(1, #ca0000));
	padding-left: 30px
}


/* SIDEBAR */
aside {
	width: 360px;
	float: right;
	margin-bottom: 30px;
	padding: 0 45px 0 5px;
	position: relative;
	z-index: 1;
}
aside h1, footer h1 {
	font-size: 18px;
	line-height: 28px;
	height: 28px;
	margin-bottom: 10px;
	color: #000;
}

aside nav, aside section {
	margin: -30px 0 25px 0;
	padding: 0;
	background: none;
}
aside section:last-child { margin-bottom: 0 }

#inTouch {
	padding-top: 20px;
	padding-left: 10px;
	background: transparent url(images/bottom-border.png) no-repeat 0 100%;
    padding-bottom: 5px;
    position: relative;
}

#inTouch li {
	display: block;
	background: #fff;
	margin-bottom: 5px;
	height: 26px;
	line-height: 26px;
	border: 1px solid #d9d4b8;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
#inTouch li span {
	display: block;
	float: left;
	text-align: center;
	width: 70px;
	margin-right: 10px;
	font-size: 16px;
	font-weight: bold;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	color: #fff;
}
.twitter {
	background-color: #4da3bf;
	box-shadow: inset 0 35px 35px -18px #73b6cc;
	background-image: -moz-linear-gradient(bottom, #4da3bf, #73b6cc);
	background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, #4da3bf),color-stop(1, #73b6cc));
}
.rss {
	background-color: #d98b3c;
	box-shadow: inset 0 35px 35px -18px #e1a467;
	background-image: -moz-linear-gradient(top, #e1a467, #d98b3c);
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #e1a467),color-stop(1, #d98b3c));
}

.links li {
	font-size: 16px;
	line-height: 20px;
	margin-bottom: 5px;
	text-align: left;
	border-bottom: 1px solid #81aeab;
	-o-transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease-out;
	-webkit-transition: all 0.5s ease-out;
}
.links li:hover { margin-left: 5px }
.links li a:hover { border: none }

blockquote {
	text-align: center;
	background-color: #005b79;
	font-size: 20px;
	font-style: italic;
	line-height: 26px;
	color: #fff;
	width: 240px;
	padding: 10px 10px 13px;
	position: relative;
	border-radius: 15px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	box-shadow: inset 0 100px 50px -50px #0081ac;
	background-image: -moz-linear-gradient(top, #0081ac, #005b79);
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #0081ac),color-stop(1, #005b79));
	z-index: 3;
	-o-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
}
blockquote:before {
	position: absolute;
	bottom: -29px;
	left: 20px;
	width: 0;
	height: 30px;
	border-right: 60px solid #005b79;
	background: #005b79;
	border-bottom-right-radius: 70px 50px;
	-moz-border-radius-bottomright: 70px 50px;
	-webkit-border-bottom-right-radius: 70px 50px;
	z-index: 2;
}
blockquote:after {
	position: absolute;
	bottom: -30px;
	left: 2px;
	width: 60px;
	height: 30px;
	background: #FFFFFF;
	border-bottom-right-radius: 40px 50px;
	-moz-border-radius-bottomright: 40px 50px;
	-webkit-border-bottom-right-radius: 40px 50px;
	z-index: 2;
}
blockquote:hover {
	transform: scale(1.05);
	-o-transform: scale(1.05);
	-moz-transform: scale(1.05);
	-webkit-transform: scale(1.05);
}

.twitterHandle {
	margin: 35px 0 0;
	color: #940033;
	display: block;
	-o-transition: all 0.9s ease-in-out;
	-moz-transition: all 0.9s ease-in-out;
	-webkit-transition: all 0.9s ease-in-out;
	font-size: 14px;
	font-weight: bold;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
.twitterHandle:hover {
	border: none;
	margin-left: 8px;
}



/* FOOTER */
footer section {
	width: 260px;
	float: left;
	margin: 0  0 30px 30px;
	background: #ebe8d9;
	padding: 20px;
	border-radius: 15px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	box-shadow: 0 0 10px #629996;
	-moz-box-shadow: 0 0 10px #629996;
	-webkit-box-shadow: 0 0 10px #629996;

}
footer section:first-child { margin-left: 0 }

#comments li {
	border-bottom: 1px solid #81aeab;
	font-size: 14px;
	line-height: 20px;
	margin-bottom: 5px;
}
#comments li .newLine {
	font-size: 12px;
	text-align: right;
}

.copyright {
	text-align: center;
	margin: 10px 0 30px;
	clear: both;
}
